@model IEnumerable<Salon.Models.Job>

@{
    ViewData["Title"] = "Index";
}

<h1>Должности</h1>

<p>
    <a asp-action="Create">Добавить должность</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.JobName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Group)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Schedule)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.JobName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Group.GroupName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Schedule)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.JobId">Редактировать</a> |
                    <a asp-action="Details" asp-route-id="@item.JobId">Детали</a> |
                    <a asp-action="Delete" asp-route-id="@item.JobId">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
