@model Salon.Models.Group

@{
    ViewData["Title"] = "Details";
}

<h1>Детали</h1>

<div>
    <h4>Группа услуг</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GroupName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GroupName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Services_Count)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Services_Count)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.GroupId">Редактировать</a> |
    <a asp-action="Index">Назад</a>
</div>
