@model Salon.Models.Visit

@{
    ViewData["Title"] = "Details";
}

<h1>Детали</h1>

<div>
    <h4>Запись на услугу</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customer.FIO)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Service)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Service.ServiceName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employee.FIO)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VisitDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VisitDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.VisitId">Редактировать</a> |
    <a asp-action="Index">Назад</a>
</div>
