@model IEnumerable<Salon.Models.Visit>

@{
    ViewData["Title"] = "Index";
}

<h1>Записи на услугу</h1>

<p>
    <a asp-action="Create">Добавить запись на услугу</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Service)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VisitDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.Customer.FIO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Service.ServiceName)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Employee.FIO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VisitDate)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.VisitId">Редактировать</a> |
                    <a asp-action="Details" asp-route-id="@item.VisitId">Детали</a> |
                    <a asp-action="Delete" asp-route-id="@item.VisitId">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
